<p>Welcome <%= @resource.email %>!<p>

<p>We're please to invite you to try <%= link_to ENV["DOMAIN"], root_url %>.</p>

<p>Please click on the link below to confirm your email and set your password:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

